mkdocs-git-committers-plugin-2>=0.4.3
mkdocs-git-revision-date-localized-plugin>=1.0
mkdocs-minify-plugin>=0.3
mkdocs-redirects>=1.0
jinja2>=3.0.2
markdown>=3.2
mkdocs>=1.3.0
mkdocs-material-extensions>=1.0.3
pygments>=2.12
pymdown-extensions>=9.4
regex>=2022.4.24
cairosvg>=2.5
pillow>=8.0
requests>=2.26
lxml>=4.6