<section class="mdx-parallax__group" data-md-color-scheme="slate" data-md-color-primary="indigo">
    <div class="md-content md-grid" data-md-component="content">
        <div class="md-content__inner mdx-content__inner">
            <div class="mdx-content__column">
                <header class="md-typeset" hidden>
                    <h1 id="become-a-sponsor">
                        Become a sponsor
                        <a href="#become-a-sponsor" class="headerlink" title="Permanent link">
                            ¶
                        </a>
                    </h1>
                </header>
                <div class="mdx-connect md-typeset" hidden>
                    <div class="mdx-connect__column">
                        <p>
                            By joining the <a href="https://github.com/sponsors/nicko170">Sponsors</a> program, you can
                            help us to continue to improve our documentation and to support the open source community.
                        </p>
                        <p>
                            <a href="https://github.com/sponsors/nicko170" class="md-button"
                               aria-label="Become a Sponsor">
                                Become a Sponsor
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mdx-content__column">
                <header class="md-typeset" hidden>
                    <h1 id="keep-in-touch">
                        Let's keep in touch
                        <a href="#keep-in-touch" class="headerlink" title="Permanent link">
                            ¶
                        </a>
                    </h1>
                </header>
                <div class="mdx-connect md-typeset" hidden>
                    <div class="mdx-connect__inner">
                        <p>
                            <a href="https://twitter.com/nicko170" class="mdx-connect__link">
                              <span class="twemoji">
                                {% include ".icons/fontawesome/brands/twitter.svg" %}
                              </span>
                                Follow <strong>@nicko170</strong> on <strong>Twitter</strong>
                            </a>
                        </p>
                        <p>
                            <a href="https://github.com/kube-media/kube-media" class="mdx-connect__link">
                          <span class="twemoji">
                            {% include ".icons/fontawesome/brands/github.svg" %}
                          </span>
                                Kube Media on <strong>GitHub</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
