<section class="mdx-parallax__group" data-md-color-scheme="slate" data-md-color-primary="indigo">
    <div class="md-content md-grid" data-md-component="content">
        <div class="md-content__inner">
            <header class="md-typeset" hidden>
                <h1 id="the-stack">
                    The Stack
                    <a href="#the-stack" class="headerlink" title="Permanent link">
                        ¶
                    </a>
                </h1>
            </header>
            <div class="mdx-expect">
                <ul class="mdx-expect__list">
                    <li class="mdx-expect__item md-typeset" hidden>
                        <div class="mdx-expect__icon">
                            {% include ".icons/material/plex.svg" %}
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Plex Media Server</h2>
                            <p>
                                Plex Media Server is a powerful media server that supports all the latest media formats
                                and streaming technologies.
                            </p>
                        </div>
                    </li>
                    <li class="mdx-expect__item md-typeset" hidden>
                        <div class="mdx-expect__icon">
                            {% include ".icons/material/devices.svg" %}
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Sonarr</h2>
                            <p>
                                Sonarr is a PVR for Usenet and BitTorrent users. It can monitor multiple RSS feeds for
                                new episodes of your favorite shows and will grab, sort and rename them. It can also be
                                configured to automatically upgrade the quality of files already downloaded when a
                                better quality format becomes available.
                            </p>
                        </div>
                    </li>
                    <li class="mdx-expect__item md-typeset" hidden>
                        <div class="mdx-expect__icon">
                            {% include ".icons/octoface.svg" %}
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Overseerr</h2>
                            <p>
                                Overseerr is a request management and media discovery tool built to work with your
                                existing Plex ecosystem. It can be used to manage requests, manage media, and discover
                                new media.

                            </p>
                        </div>
                    </li>

                    <li class="mdx-expect__item md-typeset" hidden>
                        <div class="mdx-expect__icon">
                            {% include ".icons/material/weather-windy.svg" %}
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Prowlarr</h2>
                            <p>
                                Prowlarr is an indexer manager/proxy built on the popular arr .net/reactjs base stack to
                                integrate with your various PVR apps. Prowlarr supports management of both Torrent
                                Trackers and Usenet Indexers. It integrates seamlessly with Lidarr, Mylar3, Radarr,
                                Readarr, and Sonarr offering complete management of your indexers with no per app
                                Indexer setup required (we do it all).
                            </p>
                        </div>
                    </li>
                    <li class="mdx-expect__item md-typeset" hidden>
                        <div class="mdx-expect__icon">
                            {% include ".icons/material/wheelchair-accessibility.svg" %}
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Tautulli</h2>
                            <p>
                                Tautulli is a 3rd party application that you can run alongside your Plex Media Server to
                                monitor activity and track various statistics.
                            </p>
                        </div>
                    </li>
                    <li class="mdx-expect__item md-typeset" hidden>
                        <div class="mdx-expect__icon">
                            {% include ".icons/material/format-font.svg" %}
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Radarr</h2>
                            <p>
                                Radarr is a movie collection manager for Usenet and BitTorrent users. It can monitor
                                multiple RSS feeds for new movies and will interface with clients and indexers to grab,
                                sort, and rename them. It can also be configured to automatically upgrade the quality of
                                existing files in the library when a better quality format becomes available.
                            </p>
                        </div>
                    </li>

                    <li class="mdx-expect__item md-typeset" hidden>
                        <div class="mdx-expect__icon">
                            {% include ".icons/octoface.svg" %}
                        </div>
                        <div class="mdx-expect__description">
                            <h2>SABnzbd</h2>
                            <p>
                                SABnzbd is a multi-platform binary newsgroup downloader. The program works in the
                                background and simplifies the downloading verifying and extracting of files from Usenet.
                                SABnzbd uses NZB files (similar to . torrent files, but for Usenet), instead of browsing
                                Usenet directly.

                            </p>
                        </div>
                    </li>

                    <li class="mdx-expect__item md-typeset" hidden>
                        <div class="mdx-expect__icon">
                            {% include ".icons/material/format-font.svg" %}
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Lidarr</h2>
                            <p>
                                Lidarr is a music collection manager for Usenet and BitTorrent users. It can monitor
                                multiple RSS feeds for new music and will interface with clients and indexers to grab,
                                sort, and rename them. It can also be configured to automatically upgrade the quality of
                                existing files in the library when a better quality format becomes available.
                            </p>
                        </div>
                    </li>

                    <li class="mdx-expect__item md-typeset" hidden>
                        <div class="mdx-expect__icon">
                            {% include ".icons/octoface.svg" %}
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Transmission</h2>
                            <p>
                                Transmission is a BitTorrent client which features a variety of user interfaces on top
                                of a cross-platform back-end.

                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
